
.loginBox{
    background-color: darkgray;
    text-align: center;
    box-sizing: border-box;
    display: block;
}

.mainstyle{
    background-image: url('mainbackground.bmp');
    width: 100%;
    height: 300px;
}