
.loginBox{
    background-color: darkgray;
    text-align: center;
    box-sizing: border-box;
    display: block;
    width: 30%;
    height: 300px;
    opacity: 0.7;
}

.mainstyle{
    background-image: url('mainbackground.bmp');
    width: 100%;
}

.left{
    float: left;
}
.mainstylee{
    background-image: url('profile.jpeg');
    width: 50%;
}