
.loginBox{
    background-color: darkgray;
    text-align: center;
    box-sizing: border-box;
    display: block;
    width: 50%;
    height: 500px;
}

.mainstyle{
    background-image: url('mainbackground.bmp');
    width: 100%;
}